#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
  height: 100vh;
}

input {
  display: block;
  margin: 0.5rem 0;
  padding: 0.5rem;
}

button {
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  cursor: pointer;
}

@import "tailwindcss";